<h1>Vem älskar dig mest på twitter?</h1>
<section id="add">
	<form action="/" method="post">
		<input type="text" name="user" placeholder="Vad heter du på Twitter?">
		<input type="submit" value="Skicka">
	</form>
</section>

