<!doctype html>  
<html lang="en">  
	<head>  
		<meta charset="utf8">  
		<title>Vem älskar dig mest på twitter?</title>
		<link href="/style.css" rel="stylesheet">
	</head>  
<body>  
	<%= yield %>  
</body>  
</html>