<h1><a href="http://www.twitter.com/<%= @user %>/">@<%= @user %></a>, <a href="http://www.twitter.com/<%= @get_largest_value[0] %>/">@<%= @get_largest_value[0] %></a> älskar dig mest!(<%= @get_largest_value[1] %> mentions).</h1>
<p>
	<a href ="/">Gör det igen</a>
</p>

