body {  
        margin: 35px auto;  
        width: 450px;
        background: white;
}
input[type=submit] {  
        height: 50px;  
        width: 100px;  
        border: 1px solid #ddd;  
        background: white;
        margin-top: 15;
        padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
}
input[type=text]{
	height: 50px;  
	width: 100%;  
	border: 1px solid #ddd;  
	background: white;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
	font-family: Georgia, verdana, ms sans serif;
	font-size: 25px;
	margin-bottom: 10px;
}
input[type=text]:focus{
	border: 1px solid #ccc;
}
h1 {
	font-family: Georgia, verdana, ms sans serif;
}